[submodule "SpotifyClient"]
	path = SpotifyClient
	url = https://github.com/argonism/SpotifyAPI.git
[submodule "SteppingMotor"]
	path = SteppingMotor
	url = https://github.com/argonism/SteppingMotor.git
[submodule "SetupServer"]
	path = SetupServer
	url = https://github.com/music-lightup-cojt2020/SetupServer.git
